.name {
    position: absolute;
    width: 530px;
    height: 200px;
    left: 238px;
    top: 200px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 88px;

    color: #000000;
}